/* Custom Stylesheet */
a {
	color: #00a6db;
}

.col {
  text-align: center;
}

main {
  padding-top: 24px;
}

.btn {
  width: 100px;
}

.main-container {
	max-width: 250px;
}

.status-text {
	text-align: center;
}


.blue {
  background-color: #00a6db !important;
}
.pink {
  background-color: #d71149 !important;
}

/* Push footer to bottom of page */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}


      